
.details {
  display: flex;
  flex-direction: row;

  .detail-wrapper {
    flex-grow: 1;
  }
}

.detail {

  .card {
    filter: drop-shadow(5px 5px 5px #00000055);
    align-items: start;
    display: flex;
    flex-direction: row;

    border: 1px solid black;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1.25em;
    width: calc(100% - 2em);

    &.done {
      background-color: var(--color-highlight);
    }
    &.not-done {
      background-color: var(--color-toolbar);
    }

    .day {
      flex: 0 0 2em;
      text-align: right;
      padding-right: 0.5em;
    }
    .content {
      flex-grow: 5;

      .content-view {
        white-space: pre-wrap;
        border-left: 1px solid var(--color-off-black);
        padding-left: 1em;
        margin-left: 0.5em;
      }
    }
    .btn {
      flex-grow: 2;
    }
  }

}
