
<app-title>Details</app-title>

<div class="toolbar">
  <span class="toolbar-item">
    <input
      type="checkbox" id="useNotesInput"
      [(ngModel)]="useNotes"
      [ngModelOptions]="{ standalone: true }"
      (change)="toggleUseNotes()" />
    <label for="useNotesInput">Use Notes</label>
  </span>
  
  <span class="toolbar-item">
    <button class="btn" (click)="toggleEdit()">
      {{ editVisible === true ? 'View' : 'Edit' }}
    </button>
  </span>
</div>

<div class="details">
  <!-- Not Done -->
  <div class="detail-wrapper">
    <div class="detail" *ngFor="let day of days; let i = index">
      <ng-container *ngIf="day.done === false">
        <div class="card not-done">
          <span class="day">{{ day.number }}</span>

          <span class="content">
            <textarea
              [id]="'note-' + i" class="textarea"
              placeholder="Note"
              [(ngModel)]="day.note"
              rows="5" cols="24"></textarea>
          </span>

          <button class="btn" (click)="saveNote(i, day.note)">Save</button>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- Done -->
  <div class="detail-wrapper">
    <div class="detail" *ngFor="let day of days; let i = index">
      <ng-container *ngIf="day.done === true">
        <div class="card done">
          <span class="day">{{ day.number }}</span>

          <span class="content">
            <textarea *ngIf="editVisible === true"
              [id]="'note-' + i" class="textarea"
              placeholder="Note"
              [(ngModel)]="day.note"
              rows="5" cols="24"></textarea>
            <div *ngIf="editVisible === false"
              class="content-view">
              {{ day.note }}
            </div>  
          </span>

          <button *ngIf="editVisible === true"
            class="btn"
            (click)="saveNote(i, day.note)">Save</button>
        </div>
      </ng-container>
    </div>
  </div>

</div>
