days-modal {
  display: none;

  .days-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1000;
    
    overflow: auto;
    text-align: center;

    .days-modal-body {
      background: #fff;
      border: 1px solid silver;
      border-radius: 0.5em;
      display: inline-block;
      padding: 1em;
      width: 450px;

      margin: 40px;
    }
  }

  .days-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #000;
    opacity: 0.5;
    
    z-index: 900;
  }
}

body.days-modal-open {
  overflow: hidden;
}