
:root {
  --color-white: white;
  --color-off-white: #f1f1f1;
  --color-black: black;
  --color-off-black: #1f1f1f;
  --color-highlight: #42b01d;
  --color-tooltip: #555555;
  --color-silver: silver;
  --color-toolbar: #ffaf7b;
  --color-button: #1a6b00;
  --color-button-hover: #2c8d0e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
}

.wrapper {
  display: flex;

  .wrapper--menu {
    flex: 0 0 150px;
  }
  .wrapper--content {
    background-color: var(--color-off-white);
    flex: 1;
    padding: 1em;
  }
}

.toolbar {
  background-color: var(--color-toolbar);
  margin-top: 0.5em;
  padding: 0.5em 1em;

  .toolbar-item {
    margin-left: 1em;
  }
}

.modal-title {
  font-weight: bold;
  font-size: 2em;
  margin: 0 0 0.5em 0;
  text-align: center;
}

.modal-actions {
  margin: 0.5em 0 0 0;
  text-align: right;
}

.btn {
  padding: 0.5em 2em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: var(--color-off-white);
  cursor: pointer;

  &:not(:hover) {
    background: var(--color-button);
  }
  &:hover {
    background-color: var(--color-button-hover);
  }
}

.textarea {
  outline: none;
  width: calc(100% - 1em);
}
