
.toolbar {
  background-color: var(--color-toolbar);
  margin-top: 0.5em;
  padding: 0.5em 1em;

  .toolbar-item {
    margin-left: 1em;
  }
}

.days {

  .day {
    display: inline-block;
    margin-bottom: 0.25em;
    padding: 1em 0.5em 0 0.5em;
    width: 50px;

    .status {
      display: block;
      text-align: center;
      padding: 0;
      line-height: 0.95;
      position: relative;

      &:not(.active) {
        cursor: pointer;
      }
      &.active {
        color: var(--color-off-white);
      }

      .tooltip-text {
        opacity: 0;
        visibility: hidden;
        
        font-size: 0.8em;
        box-sizing: border-box;
        width: 180px;
        background-color: var(--color-tooltip);
        color: var(--color-off-white);
        
        text-align: center;
        border-radius: 6px;
        padding: 1em;
        transition: opacity .6s;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 90%;
        left: 50%;
        margin-left: -90px;
      }

      .tooltip-text::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
      }

      &:hover .tooltip-text {
        opacity: 1;
        visibility: visible;
      }
    }

    .number {
      display: block;
      text-align: center;
    }
  }
}

.filename {
  width: 100%;
}
