
<app-title>Dashboard</app-title>

<div class="toolbar">
  <span class="toolbar-item">
    <input
      type="checkbox" id="useNotesInput"
      [(ngModel)]="useNotes"
      [ngModelOptions]="{ standalone: true }"
      (change)="toggleUseNotes()" />
    <label for="useNotesInput">Use Notes</label>
  </span>

  <span class="toolbar-item">
    <button class="btn" (click)="saveData()">Save File</button>
  </span>

  <span class="toolbar-item">
    <button class="btn" (click)="loadData()">Load File</button>
  </span>
</div>

<div class="days">
  <span class="day" *ngFor="let day of days; let i = index;">
    
    <span class="status"
      [class.active]="day.done === true"
      (click)="toggleDay(i)">
      <item-image [item]="day"></item-image>
      <span *ngIf="day.note.length > 0" class="tooltip-text">{{ day.note }}</span>
    </span>

    <span class="number">{{ day.number }}</span>

  </span>
</div>

<!-- MODALS -->
<days-modal id="getNotesModal">
  <div class="modal-title">Notes for Day {{ selectedDay.number }}</div>
  <div class="modal-body">
    <span class="content">
      <textarea
        id="note" class="textarea"
        placeholder="Note"
        [(ngModel)]="selectedDay.note"
        rows="5" cols="24"></textarea>
    </span>
  </div>
  <div class="modal-actions">
    <button class="btn" (click)="closeNotesModal()">Save</button>
  </div>
</days-modal>

<days-modal id="getFilename">
  <div class="modal-title">Filename</div>
  <div class="modal-body">
    <span class="content">
      <input class="filename"
        placeholder="Filename"
        [(ngModel)]="selectFilename" />
    </span>
  </div>
  <div class="modal-actions">
    <button class="btn" (click)="closeGetFilename()">Save</button>
  </div>
</days-modal>

<days-modal id="loadFile">
  <div class="modal-title">Load File</div>

  <div class="modal-body">
    <div class="drop-area" appDragAndDrop (fileDropped)="onFileDropped($event)">
      <p>Upload a file with the file dialog or by dragging and dropping images onto the dashed region</p>
      <input type="file" id="loadFileElement" accept="application/json" />
      <label class="load-button" for="loadFileElement">Select some files</label>
    </div>
  </div>

  <div class="modal-actions">
    <button class="btn" (click)="cancelLoadFile()">Cancel</button>
  </div>
</days-modal>
