
<app-title>Dashboard</app-title>

<days-modal id="getNotesModal">
  <div class="modal-title">Notes for Day {{ selectedDay.number }}</div>
  <div class="modal-body">
    <span class="group">
      <input type="text"
        id="modalNote"
        class="input" required=""
        [(ngModel)]="selectedDay.note" />
      <span class="highlight"></span>
      <span class="bar"></span>
      <label for="modalNote">Note</label>
    </span>
  </div>
  <div class="modal-actions">
    <button class="btn" (click)="closeNotesModal()">Close</button>
  </div>
</days-modal>

<div class="toolbar">
  <input
    type="checkbox" id="useNotesInput"
    [(ngModel)]="useNotes"
    [ngModelOptions]="{ standalone: true }"
    (change)="toggleUseNotes()" />
  <label for="useNotesInput">Use Notes</label>
</div>

<div class="days">
  <span class="day" *ngFor="let day of days; let i = index;">
    
    <span class="status"
      [class.active]="day.done === true"
      (click)="toggleDay(i)">
      <item-image [item]="day"></item-image>
      <span *ngIf="day.note.length > 0" class="tooltip-text">{{ day.note }}</span>
    </span>

    <span class="number">{{ day.number }}</span>

  </span>
</div>
